body {
    background-color: #fff;
}



/* ....................................................................... */

div#nocontent {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: 600px;
    height: 200px;
    top: 200px;
    left: 200px;
    background: #C3B091;
    border: solid 2px #a00;
    border-radius: 8px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    padding: 12px;
}

div#nocontent h1 {
    margin: 1em;
    color: red;
    font-size: 24px;
    font-weight: bold;
}


/* ....................................................................... */
/* SVG elements */

div#movieNetwork svg {
    background-color: white;
    cursor: move;
}

line.link {
    stroke: #FFCC00;
}

circle {
    cursor: default;
    fill: #003399;
}

circle.sibling {
    fill: #FFCC00;
    stroke: #003399;

    stroke-width:1;
}

circle.main {
    fill: #FFCC00;
    stroke: #003399;

    stroke-width:1;
}

/* ....................................................................... */
/* Graph labels */

g.gLabel {
    font: 10px sans-serif;
    font-weight: normal;
    visibility: hidden;
}

g.on {
    visibility: visible;
}

g.zoomed {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: #000;
    border: none;
    z-index: 0;
}

text {
    font: 10px sans-serif;
    font-weight: normal;
    stroke-opacity: 1.0;
}


text.nshadow {
    stroke: #fff;
    stroke-width: 3px;
}

text.main {
    font: 12px sans-serif;
    font-weight: bold;
}
