.orgLine {
  cursor: pointer;
  padding-left: 5px;
}

.orgLine:hover {
  background-color: #80b3ff;
}

.searchBar {
  width:49%;
  height:23px;
  background-color: #EEE;
}

.searchwindow {
  display:none;
  background-color: #EEE;
  position:absolute;
  width:75%;
}

.FakeDropdownList {
  height:500px;
  border:1px solid black;
  overflow-y: scroll;
  width:50%;
  float:right;
}

.filter_cb_panel {
  margin-top:10px;
}
