

fieldset {
  font-size:13px;
  color: #666666;
}

/* HREF links */
a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: blue;
}

/* ....................................................................... */
/* The top-right side panel and its title child */

div#sidepanel {
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    right: 200px;
}

/* ....................................................................... */
/* On/off toggles for the help/info panels */

div.panel_off {
    visibility: hidden;
    pointer-events: none;
}

div.panel_on {
    visibility: visible;
    pointer-events: all;
}

/* ....................................................................... */

div#nocontent {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: 600px;
    height: 200px;
    top: 200px;
    left: 200px;
    background: #C3B091;
    border: solid 2px #a00;
    border-radius: 8px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    padding: 12px;
}

div#nocontent h1 {
    margin: 1em;
    color: red;
    font-size: 24px;
    font-weight: bold;
}

/* ....................................................................... */
/* Country details panel */

div#countryInfo {
    position: relative;
    right: 4px;
    cursor: text;
    width: 300px;
    z-index: 1000;
    background: #e5eaf4;
    border: solid 1px #aaa;
    border-radius: 8px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 4px;
    text-align: right;
}

div#countryInfo div#cover {
    text-align: left;
    height: 50px;
}

div#countryInfo div.t {
    font-size: 9px;
    font-weight: bold;
}

div#contryDetails {
  font-weight: normal;
}

div#countryInfo img.cover {
    margin-bottom: 6px;
    position: absolute;
    right: 3px;
}

div#countryInfo img.action {
    cursor: pointer;
    position: absolute;
}

div#countryInfo div.f {
    border-top: 1px dotted #8E5981;
    margin-bottom: 3px;
    margin-top: 3px;
}

div#countryInfo span.d {
    font-weight: bold;
}

div#countryInfo span.c {
    font-style: italic;
}

div#countryInfo span.l {
    font-size: 11px;
    color: #000;
    font-variant: small-caps;
}


/* ....................................................................... */
/* SVG elements */

div#chartID svg {
    background-color: white;
    cursor: move;
}

line.link {
    stroke: #AAA;
}

circle {
    cursor: pointer;
    stroke: #fff;
    stroke-width:1;
}

circle.bubbleHES {
    fill: #2ca02c;
}

circle.bubbleREC {
    fill: #9467bd;
}

circle.bubblePRC {
    fill: #ff7f0e;
}

circle.bubblePUB {
    fill: #1f77b4;
}

circle.bubbleOTH {
    fill: #ffbb78;
}

/*circle.sibling {
    fill: #325bad;
    stroke: #003399;
    stroke-width:1;
}

circle.main {
    fill: #325bad;
    stroke: #003399;
    stroke-width:1;
}*/

/* ....................................................................... */
/* Graph labels */

g.gLabel {
    font: 10px sans-serif;
    font-weight: normal;
    visibility: hidden;
}

g.on {
  visibility: visible;
}

g.zoomed {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: #000;
    border: none;
    z-index: 0;
}

text {
    font: 10px sans-serif;
    font-weight: normal;
    stroke-opacity: 1.0;
}


text.nshadow {
    stroke: #fff;
    stroke-width: 3px;
}

text.main {
    font: 12px sans-serif;
    font-weight: bold;
}

#org_label2 {
  position: relative;
  top: 31px;
  left: -261px;
  font-size:15px;
  color: #666666;
  width: 75%;
  z-index:1;
  text-align: left;
}

.legend {
  float:left; width:14px;
  height:14px;
  margin-top:14px;
}

.legend-label {
  font-size: 13px;
  color:#666;
  float:left;
  margin-left: 5px;
  margin-right: 15px;
}

.legend-div {
  overflow: hidden;
  position: relative;
  top: -40px;
  width:75%;
  left:205px;
}

.help-tip {
    position: relative;
    top: -20px;
    left: 940px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 3px;
    z-index:2;
    cursor: help;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
}

.help-tip p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #1E2021;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
    z-index: 1000;
}

.help-tip p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}


.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    width: 24px;
    height: 24px;
    line-height: 25px;
    padding-left:2px;
    }

.searchicon {
    position: relative;
    /*top: 100px;
    left: 2px;*/
    /*background-color: #BCDBEA;*/
    background-color: #444;
    width: 27px;
    height: 24px;
    font-size: 12px;
    padding-left: 2px;
    padding-bottom: 3px;
    padding-top: 2px;
    color: #FFF;
}

.searchicon:before{
}

.searchicon:hover p{
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.searchicon p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 240px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -166px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    z-index: 1000;
}

.searchicon p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:260px;
    top:-12px;
}

.searchicon p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}
