<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no" />
    <title>delimited | Chord Transitions</title>
    <link rel="stylesheet" href="../bower_components/foundation/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="../css/app.css">
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
  </head>
  <body ng-app="app" ng-cloak ng-controller="mainCntrl">

    <button onclick="goBack()">Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>

    <div class="row">
      <div class="large-12 columns">
        <h1 style="text-align: center;">The collaboration between EU-28 countries on EU funded research projects based on CORDIS data</h1>
        <h1 style="text-align: center;">(FP6, FP7, H2020)</h1>
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
      <p style="margin:auto; padding-top:15px; text-align: justify; font-family:arial;">
        Through this page, you can explore <a href="http://cordis.europa.eu/home_en.html" target="_blank">CORDIS</a> data. CORDIS stands for Community Research and Development
        Information Service and is the European Commission's
        primary public repository and portal to disseminate information on all EU-funded research projects and their results in the broadest sense.
      <br><br>
      This visualisation allows to explore the collaboration between EU-28 countries on projects funded under the FP6 (2002-2006), FP7 (2007-2013),
      and H2020 (2014-2020) framework programmes. The countries are arranged radially around a circle and the links between the countries represent
      the number of project that include at least one organisation of these two countries.
      The size of the arc depends on the number of project in which the country participated and the size of the link depends on the number of projects between the two linked countries.
      <br><br>
      </p>
    </div>
  </div>


    <div class="row" style="position:relative;">


      <aside class="large-2 small-2 columns panel years" style="width:135px;">
        <h5>Framework contracts</h5>
        <ul class="side-nav">
          <li ng-repeat="frameworkContract in frameworkContracts">
            <input ng-model="$parent.selected_frameworkContract" type="radio" name="frameworkContracts" ng-value="frameworkContract" id="frameworkContract_{{ frameworkContract }}">
            <label for="frameworkContract_{{ frameworkContract }}">{{ frameworkContract }}</label>
          </li>
        </ul>
      </aside>

      <div class="large-7 small-6 columns" role="content" style="width:66%">
        <div class="help-tip">
          <p>Use the side panels to filter the diagram. Click on a country name to grey out/highlight its links. Put your mouse over a specific link to get more information about it.</p>
        </div>
        <article>
          <chord-diagram style="font-size:20px;"></chord-diagram>
          <h6 class="text-center">Number of links for <span>{{ selected_frameworkContract }}</span></h6>
        </article>
      </div>

      <aside class="large-3 small-4 columns panel countries">
        <div class="">
          <h5>Countries</h5>
          <div ng-if="hasFilters === false" style="margin: 15px; opacity: 0.5;">
            Loading...
          </div>
          <ul class="side-nav">
            <li ng-repeat="filter in filters">
              <input ng-model="filter.hide" id="{{ filter.name }}" type="checkbox">
              <label for="{{ filter.name }}">{{ filter.name }}</label>
            </li>
          </ul>
        </div>
      </aside>
      <button class="button tiny right" ng-click="resetFilters()" id="resetButton">Unselect all</button>

      <fieldset id="tooltip" class="row secondary">
        <!--<div class="large-12 small-12 columns">
          <h6>{{ tooltip.sname }} imported from  {{ tooltip.tname }} : $ {{ qFormat(tooltip.svalue) }}M</h6>
          {{ pFormat(tooltip.svalue/tooltip.stotal) }} of {{ tooltip.sname }}'s Total ($ {{ qFormat(tooltip.stotal) }}M)
          {{ pFormat(tooltip.svalue/tooltip.mtotal) }} of Total of $ {{ qFormat(tooltip.mtotal) }}M
        </div>
        <div class="large-12 small-12 columns">
          <h6>{{ tooltip.tname }} imported from  {{ tooltip.sname }} : $ {{ qFormat(tooltip.tvalue) }}M</h6>
          {{ pFormat(tooltip.tvalue/tooltip.ttotal) }} of {{ tooltip.tname }}'s Total ($ {{ qFormat(tooltip.ttotal) }}M)
          {{ pFormat(tooltip.tvalue/tooltip.mtotal) }} of Total of $ {{ qFormat(tooltip.mtotal) }}M
        </div>-->
        <h5>{{ qFormat(tooltip.svalue) }} projects conducted between {{ tooltip.sname }} and {{ tooltip.tname }}</h5>
      </fieldset>

    </div>

    <footer class="row">
      <div class="large-12 columns">
        <!--<ul class="inline-list left">
          <li>Colors by <a target="_blank" href="http://en.wikipedia.org/wiki/Paul_Klee">Paul Klee</a></li>
          <li>Design by <a target="_blank" href="http://www.delimited.io/blog">delimited.io</a></li>
          <li>Data from <a target="_blank" href="http://www.correlatesofwar.org">Correlates of War</a></li>
        </ul>-->
      <p style="padding-top:15px; text-align: justify; font-family:arial; font-size:11px">
        This visualisation has been developed by  <a href="http://www.pwc.be/" target="_blank">PwC EU services</a> for the <a href="http://publications.europa.eu/en/home" target="_blank">Publications Office of the EU</a>
        using <a href="https://developers.google.com/chart/interactive/docs/gallery/bubblechart" target="_blank">the Google-visualization library</a>
        and is based on datasets provided on the <a href="http://data.europa.eu/euodp/en/data" target="_blank">European Union Data Portal</a> by CORDIS
        (<a href="https://data.europa.eu/euodp/data/dataset/cordisfp6projects" target="_blank">FP6 framework programme</a>,
        <a href="https://data.europa.eu/euodp/data/dataset/cordisfp7projects" target="_blank">FP7 framework programme</a>,
        <a href="https://data.europa.eu/euodp/data/dataset/cordisH2020projects" target="_blank">H2020 framework programme</a>)
        and is inspired from <a target="_blank" href="https://github.com/sghall/chord-transitions">chord-transitions</a>
        <br><br>
        The source code of this visualisation can be found on the following <a href="https://github.com/SEMICeu/data-visualisation-pilot" target="_blank">Github repository</a>.
      </p>
      </div>
    </footer>

    <script src="../bower_components/d3/d3.min.js"></script>
    <script src="../bower_components/foundation/js/foundation.min.js"></script>
    <script src="../js/mainController.js"></script>
    <script src="../js/matrixFactory.js"></script>
    <script src="../js/chordDirective.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
